@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(15, 84, 19);
  background: radial-gradient(circle, rgba(15, 84, 19, 1) 0%, rgba(32, 10, 45, 1) 48%, rgba(3, 12, 38, 1) 100%);
}

.card-layout {
  background: rgb(196, 209, 196);
  background: radial-gradient(circle, rgb(226 74 201 / 81%) 0%, rgb(75 64 81 / 54%) 48%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}